* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: radial-gradient(#3d3d42, #191a1f);
  height: 100vh;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .title {
  font-size: 80px;
  text-shadow: 0 10px 10px #000;
}

.btnPlay {
  display: block;
  margin: 20px auto;
  background-color: #191a21;
  color: #eee;
  padding: 5px 10px;
  font-size: large;
  letter-spacing: 5px;
  box-shadow: 0 10px 10px #0005;
}

@keyframes showHome {
  to {
    opacity: 1;
  }
}

.home {
  opacity: 0;
  animation: showHome 2s .3s ease-in-out 1 forwards;
}